services:
  -
    class: Fcpl\PHPStanContainerExtension\ContainerInterfaceDynamicReturnTypeResolver
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Fcpl\PHPStanContainerExtension\ArrayAccessDynamicReturnTypeResolver
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension